menu "subsys"

config FIREFLY_DEBUG
	bool "Firefly Debug"
	help
	  Enable Firefly debugging.

rsource "base/Kconfig"
rsource "ble/Kconfig"
rsource "boot/Kconfig"
rsource "crypto/Kconfig"
rsource "graphics/Kconfig"
rsource "rpc/Kconfig"
rsource "storage/Kconfig"
rsource "swd/Kconfig"
rsource "usb/Kconfig"
rsource "ux/Kconfig"

endmenu
