menuconfig FIREFLY_SUBSYS_BOOT
	bool "boot"

if FIREFLY_SUBSYS_BOOT

config FIREFLY_SUBSYS_BOOT_NRF53
        bool "firefly subsys boot nRF53 executor"
	help
	  firefly subsys boot nRF53 executor

config FIREFLY_SUBSYS_BOOT_SPLIT_CONTROLLER
        bool "firefly subsys boot split controller"
	help
	  firefly subsys boot split controller

config FIREFLY_SUBSYS_BOOT_SPLIT_PERIPHERAL
        bool "firefly subsys boot split peripheral"
	help
	  firefly subsys boot split peripheral

config FIREFLY_SUBSYS_BOOT_ZEPHYR
        bool "firefly subsys boot zephyr SHA & AES"
        select MBEDTLS
        select MBEDTLS_MAC_SHA1_ENABLED
        select MBEDTLS_CIPHER_AES_ENABLED
	help
	  firefly subsys boot zephyr SHA & AES

endif
