config FIREFLY_SUBSYS_BASE_GPIO_PORT_COUNT
	int "GPIO port count"
	default 2
	help
	  Number of GPIO ports.

menuconfig FIREFLY_SUBSYS_BASE
	bool "base"
    select HWINFO
	help
	  Include base firmware in the system configuration.

if FIREFLY_SUBSYS_BASE

config FIREFLY_SUBSYS_BASE_LOG
	bool "BASE LOG"
	help
	  Enable Firefly Base Log.

config FIREFLY_SUBSYS_BASE_LOG_LIMIT
	int "BASE LOG LIMIT"
	default 256
	help
	  Enable Firefly Base Log Limit.

config FIREFLY_SUBSYS_BASE_ASSERT_LOG_LIMIT
     int "firefly assert log limit"
     default 1

config FIREFLY_SUBSYS_BASE_TEST
	bool "BASE TEST"
	help
	  Enable Firefly Base Test.

config FIREFLY_SUBSYS_BASE_ADC_NRF5
	bool "BASE ADC NRF5"
	help
	  Enable Firefly Base ADC nRF5.

config FIREFLY_SUBSYS_BASE_I2CM_NRF5
	bool "BASE I2CM NRF5"
	help
	  Enable Firefly Base I2CM nRF5.

config FIREFLY_SUBSYS_BASE_INTERRUPT_NRF5
	bool "BASE INTERRUPT NRF5"
	help
	  Enable Firefly Base INTERRUPT nRF5.

config FIREFLY_SUBSYS_BASE_PWM_NRF5
	bool "BASE PWM NRF5"
	help
	  Enable Firefly Base PWM nRF5.

config FIREFLY_SUBSYS_BASE_RTC_NRF5
	bool "BASE RTC NRF5"
	help
	  Enable Firefly Base RTC nRF5.

config FIREFLY_SUBSYS_BASE_SPIM_NRF5
	bool "BASE SPIM NRF5"
	help
	  Enable Firefly Base SPIM nRF5.

config FIREFLY_SUBSYS_BASE_TIMING_NRF5
	bool "BASE TIMING NRF5"
	help
	  Enable Firefly Base TIMING nRF5.

config FIREFLY_SUBSYS_BASE_TIMING_STM32
	bool "BASE TIMING STM32"
	help
	  Enable Firefly Base TIMING STM32.

config FIREFLY_SUBSYS_BASE_UART_NRF5
	bool "BASE UART NRF5"
	help
	  Enable Firefly Base UART nRF5.

config FIREFLY_SUBSYS_BASE_WORK_ZEPHYR
	bool "BASE WORK ZEPHYR"
	help
	  Enable Firefly Base Work Zephyr.

endif
