menuconfig FIREFLY_SUBSYS_BASE
	bool "base"
	help
	  Include base firmware in the system configuration.

if FIREFLY_SUBSYS_BASE

config FIREFLY_SUBSYS_BASE_LOG
	bool "BASE LOG"
	help
	  Enable Firefly Base Log.

config FIREFLY_SUBSYS_BASE_TEST
	bool "BASE TEST"
	help
	  Enable Firefly Base Test.

config FIREFLY_SUBSYS_BASE_WORK_ZEPHYR
	bool "BASE WORK ZEPHYR"
	help
	  Enable Firefly Base Work Zephyr.

endif
